/**
 * Vars
 */

// Breakpoints
json('vars/breakpoints.json')

// Dimensions
json('vars/dimensions.json')

/**
 * Vendor
 */

// The Bukwild shared stylus library
support-for-ie = false // Don't generate px values with rem function
body-font-size = 16px
@import '~bukwild-stylus-library'

// Icomoon
@import './fonts/icomoon/variables'

/**
 * Functions
 */

// Media query helpers
on-desktop()
	@media(min-width tablet)
		{block}
on-mobile()
	@media(max-width tablet - 1px)
		{block}

// Make a 3 column grid, apply this to the containing grid.  It will get a
// negative top margin so it should be wrapped in anything that also needs to
// set a margin-top
grid-layout-default-break-3 = 1190px
grid-layout-default-break-2 = 1023px
grid-layout-default-break-1 = 767px
grid-layout(
	gutter-h = padding-l,
	gutter-v-max = padding-l,
	gutter-v-min = padding-l-min,
	columns = 3,
	break-3 = 1190px,
	break-2 = 1023px,
	break-1 = 767px)

	// Setup grid
	display flex
	flex-wrap wrap

	// Add negative margins
	fluid margin-top, gutter-v-max * -1, gutter-v-min * -1
	@media(min-width break-1 + 1px)
		margin-left gutter-h * -1

	// Set cell dimensions
	> *
		margin-left gutter-h
		fluid margin-top, gutter-v-max, gutter-v-min

		// All the `- 1px` things below are for IE11 to fix what I think are
		// rounding failures.  I saw this on the product filter list.

		// 4 Column
		if (columns >= 4)
			flex-basis 'calc(100%/4 - %s - 1px)' % gutter-h

		// 3 Column
		if (columns > 3)
			@media(max-width break-3)
				flex-basis 'calc(100%/3 - %s - 1px)' % gutter-h
		else if (columns == 3)
			flex-basis 'calc(100%/3 - %s - 1px)' % gutter-h

		// 2 column
		if (columns > 2)
			@media(max-width break-2)
				flex-basis 'calc(100%/2 - %s - 1px)' % gutter-h
		else if (columns == 2)
			flex-basis 'calc(100%/2 - %s - 1px)' % gutter-h

		// Full width
		@media(max-width break-1)
			flex-basis 100%
			max-width 100%
			margin-h auto

// Render an icomoon font
icomoon(name = '')
	if name
		content name
	font-family 'icomoon' !important
	speak none
	font-style normal
	font-weight normal
	font-variant normal
	text-transform none
	line-height 1
	-webkit-font-smoothing antialiased
